@import 'var';

* {
  box-sizing: border-box;
}

body,
html {
  background-color: $pricing-best;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  // color: #fff;

  &.pricing {
    background-color: #fff;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 300ms;

  &:hover {
    color: #8896b4;
    text-decoration: none;
  }
}

h1 {
  @media (max-width: $sm) {
    font-size: 30px;
  }
}

p {
  @media (max-width: $sm) {
    font-size: 14px;
  }
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.w-20p {
  width: 20%;
}

.w-10p {
  width: 10%;
}

.orange-bg {
  background-color: $orange;
}

.purple-bg {
  background-color: $purple;
}

.yellow-bg {
  background-color: $yellow;
}

.blue-bg {
  background-color: $blue;
}

.teal-bg {
  background-color: $teal;
}

.green-bg {
  background-color: $green;
}

.volute-bg {
  background-color: $pricing;
}

.yellow {
  color: $yellow;
}

.purple {
  color: $purple;
}

.teal {
  color: $teal;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.orange {
  color: $orange;
}

.gray {
  color: $gray;
}

.red {
  color: $red;
}

.pricing-color {
  color: $pricing;
}

.pricing-best-color {
  color: $pricing-best;
}

.no-overflow {
  overflow: hidden;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

// Slick override
.slick-prev {
  left: 25px;
  z-index: 1;
}

.slick-next {
  right: 25px;
  z-index: 1;
}

.slick-dots {
  li {
    button:before {
      color: #fff;
    }
  }
}

.center-abs {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
}

