.header {
  padding-left: 15px;
  padding-right: 15px;
  height: 100px;
  // background-color: $pricing-best;
  display: flex;
  align-items: center;
  position: relative;

	&:after {
		content: " ";
		width: calc(100% - 30px);
		position: absolute;
		bottom: 0;
		left: 15px;
		height: 1px;
		background-color: $pricing-best;
	}

  @media (max-width: $md - 1px) {
  	height: 80px;
  	background-color: #fff;
  	z-index: 999;
  	width: 100%;
  }
}

.logo {
	width: 210px;

	@media (max-width: $md - 1px) {
		width: 150px;
	}
}