@import 'var';

.catalog {
  .container-fluid {
    padding-bottom: 50px;
  }
}

.home-slider {

  &--item {
    width: 100%;
    height: 600px;

    &-inner {
      width: 100%;
      height: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.tools-wrapper {
  position: relative;
  z-index: 100;

  @media (max-width: 375px) {
    margin: 0 5px;

    .tools-row {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

a.tools-link {
  font-size: 27px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;

  i {
    margin-left: 10px;
    font-size: 36px;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
  }
}

// Tools
.tools-row {
  margin-top: 50px;

  @media (max-width: $md) {
    margin-top: 0;
  }
}

li.tool {
  float: left;
  height: 300px;
  padding: 0 2px;
  transition: all $transition ease-in-out 0s;
  cursor: pointer;
  z-index: 999;
  position: relative;

  &.tool__selected {
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border: 10px solid $pricing;
      z-index: 1;
      transition: border $transition;
    }

    @media (min-width: $md + 1px) {
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $pricing;
      }
    }
  }

  &.tool__not-selected {
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(20,20,20,.6);
      transition: background-color $transition;
    }
  }

  .tool--inner {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center 20%;

    @media (max-width: $md) {
      height: 0;
      padding-bottom: 100%;
    }
  }

  .tool--details {
    height: 90px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    padding: 10px;
    background-color: rgba(228,228,228,.75);
    color: $gray;

    p,
    span {
      display: block;
    }

    p {
      color: #cbcbcb;
    }

    @media (max-width: $iPadPro) {
      height: 120px;
    }

    @media (max-width: $md) {
      height: 90px;
    }
  }

  @media (max-width: $iPadPro) {
    height: 270px;
  }

  @media (max-width: $md) {
    width: 33.333333%;
    max-width: 33.333333%;
    height: auto;
    margin-bottom: 5px;
  }

  @media (max-width: $md - 1px) {
    width: 50%;
    max-width: 50%;
  }

  @media (max-width: 375px) {
    width: 100%;
    max-width: 100%;
  }
}

// Tool expand infobox
.tool--infobox {
  width: 100%;
  background-color: $pricing-best;
  transition: all $transition ease-in-out 0s;
  height: 0;
  overflow: hidden;
  visibility: hidden;

  &__active {
    height: auto;
    min-height: 550px;
    background-color: $black;
    visibility: visible;

    .tool--infobox-slider {
      &:after {
        background-color: rgba(20,20,20,.2);
      }
    }

    .tool--infobox-slider--item {
      min-height: 800px;
    }
  }

  &-metadata {
    padding-left: 30px;
    padding-top: 30px;
    font-size: 18px;
    padding-bottom: 15px;
    padding-right: 0;
    z-index: 2;

    strong {
      color: $pricing;
      font-weight: normal;
    }

    ul {
      list-style-type: circle;
      padding-left: 30px;
    }

    i.fa {
      font-size: 36px;
      color: $pricing;
    }

    @media (max-width: $iPadPro) {
      width: 66.666667%;
      max-width: 66.666667%;
    }

    @media (max-width: $md) {
      width: 83.333333%;
      max-width: 83.333333%;
    }
  }

  &-close {
    position: absolute;
    right: 40px;
    top: 25px;
    z-index: 2;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $pricing;
    align-items: center;
    justify-content: center;
    transition: all $transition;

    svg,
    path {
      fill: white;
    }

    svg {
      width: 24px;
    }
    @media (min-width: $md + 1px) {
      &:hover {
        background-color: $pricing-best;
      }
    }
  }

  @media (max-width: $md) {
    display: none;
  }

  &__mobile {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;

    &__active {
      display: block;
    }

    &--inner {
      background-color: $pricing-best;
      width: 95%;
      height: 95%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      border-radius: 5px;
      overflow: scroll;
    }

    .tool--infobox-close {
      right: 15px;
      top: 15px;
    }

    .tool--infobox-slider__mobile {
      .tool--infobox-slider__mobile--item {
        width: 100%;
        height: 350px;
        background-size: cover;

        @media (max-width: $sm) {
          height: 150px;
        }
      }
    }

    .tool--infobox-metadata {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      padding-right: 30px;

      @media (max-width: $sm) {
        padding: 15px;
      }
    }
  }
}

.tool--infobox-slider-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
}

.tool--infobox-slider {
  width: 100%;
  height: 100%;

  &:before,
  &:after {
    content: " ";
    display: block;
    width: 100%;
    height: 101%;
    position: absolute;
    left: -1px;
    top: 0;
    z-index: 1;
    transition: background $transition ease-in-out 0s;
  }

  &:before {
    background: linear-gradient(to right, $black 15%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, $black 15%, rgba(0,0,0,0) 100%);
  }

  &:after {
    background-color: $pricing-best;
  }

  &--item {
    width: 100%;
    height: 0;
    transition: height $transition ease-in-out 0s;

    &-inner {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (min-width: $iPadPro + 1px) {
  // tool hover effect
  ul.tools.tools__hover:hover {
    li {
      transform: translateX(-12.5%);
      // transition-delay: 0.5s;
    }
    li:first-child:hover {
      transform: translateX(12.5%) scale(1.25);
      transition-duration: $transition/1.1;
    }
    li:first-child:hover ~ li {
      transform: translateX(25%);
    }
    li:hover {
      transform: scale(1.25);
      transition-duration: $transition/1.1;
      // transition-delay: 0.5s;
    }
    li:hover ~ li {
      transform: translateX(12.5%);
      // transition-delay: 0.5s;
    }
  }
}
