@import 'var';

.home-slider {

  &--item {
    width: 100%;
    height: 600px;

    &-inner {
      width: 100%;
      height: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.tools-category {
  padding-left: 15px;
  padding-top: 40px;
}

a.tools-link {
  font-size: 27px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;

  i {
    margin-left: 10px;
    font-size: 36px;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
  }
}

// Tools
.tools-row {
  margin: 0 -2px 55px;
}

li.tool {
  float: left;
  height: 300px;
  padding: 0 2px;
  transition: all $transition ease-in-out 0s;
  cursor: pointer;
  z-index: 999;
  position: relative;

  .tool--inner {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .tool--details {
    height: 80px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(228,228,228,.75);
    color: $gray;

    p,
    span {
      display: block;
    }

    p {
      color: #cbcbcb;
    }

  }
}

// Tool expand infobox
.tool--infobox {
  width: 100vw;
  background-color: $gray;
  margin-bottom: 55px;
  transition: all $transition ease-in-out 0s;
  height: 0;
  overflow: hidden;

  &__active {
    height: 500px;

    .tool--infobox-slider {
      &:after {
        background: rgba(20,20,20,.2);
      }
    }

    .tool--infobox-slider--item {
      height: 500px;
    }
  }

  &-metadata {
    padding-left: 45px;

    i.fa {
      font-size: 27px;
    }

    .tool--infobox-rating {
      color: $red;
    }
  }

  &-close {
    position: absolute;
    right: 40px;
    top: 25px;
    z-index: 2;

    &:hover {
      color: $red;
    }

    i.fa {
      font-size: 48px;
    }
  }
}

.tool--infobox-slider {
  width: 100%;
  height: 100%;

  &:before,
  &:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: background $transition ease-in-out 0s;
  }

  &:before {
    background: linear-gradient(to right, rgba(20,20,20,1) 10%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(20,20,20,1) 10%, rgba(0,0,0,0) 100%);
  }

  &:after {
   background: rgba(20,20,20,1);
  }

  &--item {
    width: 100%;
    height: 0;
    transition: height $transition ease-in-out 0s;

    &-inner {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (min-width: $lg) {
  // tool hover effect
  ul.tools.tools__hover:hover {
    li {
      transform: translateX(-12.5%);
    }
    li:first-child:hover {
      transform: translateX(12.5%) scale(1.25);
      transition-duration: $transition/1.1;
    }
    li:first-child:hover ~ li {
      transform: translateX(25%);
    }
    li:hover {
      transform: scale(1.25);
      transition-duration: $transition/1.1;
    }
    li:hover ~ li {
      transform: translateX(12.5%);
    }
  }
}
