@import 'var';

.pricing,
.pricing--left,
.pricing--right {
  height: auto;
  position: relative;

  @media (max-width: $xxl - 1px) {
    height: auto;
    overflow: hidden;
  }
}

.pricing {
  overflow: hidden;
  background-color: $pricing-best;
  margin-top: 50px;

  &--footer {
    height: 100px;
    color: $pricing;
    font-size: 22px;
    text-align: center;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background-color: white;

    &:before {
      content: " ";
      display: block;
      width: 90%;
      height: 1px;
      background-color: rgba(0,0,0,.15);
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 0;
    }

    @media (max-width: $iPadPro - 1px) {
      font-size: 18px;
    }

    @media (max-width: $sm - 1px) {
      height: 80px;
    }
  }

  &--intro {
    h1 {
      font-size: 54px;

      @media (max-width: $iPadPro - 1px) {
        font-size: 48px;
      }

      @media (max-width: $md - 1px) {
        font-size: 36px;
      }
    }

    p {
      font-size: 27px;

      @media (max-width: $iPadPro - 1px) {
        font-size: 22px;
      }

      @media (max-width: $md - 1px) {
        font-size: 16px;
      }
    }
  }

  &--left,
  &--right {
    float: left;
    padding: 100px 0;
  }

  &--left {
    width: 33.333333%;

    div {
      padding-left: 30px;
      padding-right: 100px;
      padding-top: 50px;

      @media (max-width: $xl - 1px) {
        padding: 0;
      }
    }

    .scroll-down {
      color: $pricing;
      font-size: 100px;
      display: block;
      text-align: center;
      margin-top: 25px;

      @media (max-width: $xl - 1px) {
        display: none;
      }
    }

    @media (max-width: $xxl - 1px) {
      width: 100%;
      padding: 50px 15px 0;
      text-align: center;
    }

    @media (max-width: $md - 1px) {
      padding-top: 25px;
    }

    @media (min-width: $wide) {
      width: 50%;
    }

    @media (min-width: $xWide) {
      width: 60%;
    }
  }

  &--right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    width: 66.666667%;
    padding-right: 15px;

    .row {
      width: 100%;
    }

    @media (max-width: $xxl - 1px) {
      width: 100%;
      padding: 75px 15px;
    }

    @media (max-width: $md - 1px) {
      padding-top: 25px;
    }

    @media (min-width: $wide) {
      width: 50%;
    }

    @media (min-width: $xWide) {
      width: 40%;
    }
  }

  .row {
    align-items: center;
  }

  .flex-pay,
  .tier-pay,
  .custom-pay {
    padding: 0;

    @media (max-width: $iPadPro - 1px) {
      padding: 0;
    }

    @media (max-width: $md - 1px) {
      &.column {
        padding-bottom: 25px;
      }
    }
  }

  .tier-pay {

    @media (min-width: $md) {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }

    z-index: 1;
    padding: 0;

    &--table {
      color: #767171;

      tr {
        border-bottom: 1px solid rgba(20,20,20,.05);
      }

      td {
        padding: 5px 20px;

        @media (max-width: $iPadPro - 1px) {
          padding: 5px 10px;
        }
      }

      tbody td {
        font-size: 22px;

        @media (max-width: $iPadPro - 1px) {
          font-size: 16px;
        }
      }
    }

    .pricing--footer {
      color: $pricing-best;
    }

    .title {
      background: $pricing-best;
    }
  }
}

.container .column:nth-child(2) .pricing-table {
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.container .column:nth-child(3) .pricing-table {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}

.pricing-table {
  position: relative;
  margin: 0 auto;
  -webkit-transition: all $transition linear 0s;
  -moz-transition: all $transition linear 0s;
  -ms-transition: all $transition linear 0s;
  -o-transition: all $transition linear 0s;
  transition: all $transition linear 0s;
  -webkit-animation: 1.25s slideDown ease;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.25);

  .features {
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 330px;
    padding: 0 30px;
    background-color: white;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span {
      color: #767171;
      display: block;
    }

    h3 {
      @media (max-width: $iPadPro - 1px) {
        font-size: 18px;
      }
    }

    span {
      font-size: 20px;

      @media (max-width: $iPadPro - 1px) {
        font-size: 16px;
      }
    }

    p {
      color: #cbcbcb;
    }

    i.fa {
      font-size: 100px;

      @media (max-width: $iPadPro - 1px) {
        font-size: 75px;
      }
    }

    @media (max-width: $iPadPro - 1px) {
      height: 270px;
    }

    @media (max-width: $sm - 1px) {
      height: 240px;
    }
  }

  .title {
    margin: 0;
    padding: 15px 5px;
    font-size: 36px;
    color: white;
    background-color: $pricing;
    text-align: center;

    @media (max-width: $iPadPro - 1px) {
      font-size: 27px;
    }
  }

  .subtitle {
    text-align: center;
    height: 90px;
    color: #767171;
    font-size: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    position: relative;
    background-color: white;

    &:after {
      content: " ";
      display: block;
      width: 90%;
      height: 1px;
      background-color: rgba(0,0,0,.15);
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: 0;
    }

    @media (max-width: $iPadPro - 1px) {
      font-size: 16px;
      height: 75px;
    }
  }

  .price {
    color: #7f8bff;
    font-size: 48px;
    font-weight: 600;

    @media (max-width: $iPadPro - 1px) {
      font-size: 36px;
    }
  }

}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    top: -60px;
  }
  50% {
    top: 10px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
