$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Colors
$yellow: 				#deb656;
$purple: 				#51425b;
$teal: 					#3d9b8d;
$green: 				#7ca644;
$blue:					#2e4854;
$orange: 				#dc7a3c;
$gray: 					#141414;
$red: 					#e50914;
$pricing: 			#8d98f2;
$pricing-best: 	#686f8c;

$transition: .45s;