$xs: 			320px;
$sm: 			480px;
$md: 			768px;
$lg: 			992px;
$iPadPro: 1024px;
$xl: 			1200px;
$xxl: 		1440px;
$wide: 		1920px;
$xWide: 	2560px;

// Colors
$yellow: 				#E5B853; // #deb656;
$purple: 				#504059; // #51425b;
$teal: 					#2C9F90; // #3d9b8d;
$green: 				#7BA740; // #7ca644;
$blue:					#264653; // #2e4854;
$orange: 				#E37A34; // #dc7a3c;
$gray: 					#141414;
$red: 					#e50914;
$pricing: 			#8d98f2;
$pricing-best: 	#686f8c;
$black:					#1b1b1b; // #141414;

$transition: .45s;
